body {
	color: white;
}
.m-header {
	width: 100%;
	float: left;
	clear: both;
	height: 70px;
	line-height: 70px;
	background: rgba(0, 0, 0, 0.9) none repeat scroll 0 0;
	font-size: 12px;
	z-index: 5;
}
.m-header-main {
}
.level a {
	font-size: 18px;
	color: white;
}
.level .level-right .button {
	background: #FFC237;
	color: black;
}
.level .level-right .button:hover {
	background: white;
}
.level .level-right .m-login:hover,
.level .level-right .m-register:hover {
	color: #FFC237;
}
.m-header-menu:hover {
	background: #FFC237;
}
.m-menu-control:before {
	background: url(../img/hover-bg.png) 0 0 no-repeat;
	height: 70px;
	width: 23px;
	position: absolute;
	content: '';
	top: 0;
	margin-left: -23px;
}
.m-menu-control:after {
	background: url(../img/hover-bg.png) -23px 0 no-repeat;
	background-origin: padding-box;
	height: 70px;
	width: 23px;
	position: absolute;
	content: '';
	top: 0;
}
.footer {
	background: rgba(0, 0, 0, 0.9) none repeat scroll 0 0;
	padding: 0;
}
.m-content {
	position: absolute;
	width: 100%;
	top: 4em;
}
.footer .level-item p {
	margin-bottom: 0;
}
.footer .level-item p:first-child {
	margin-top: 1.5em;
}
.footer .level-item p:last-child {
	margin-bottom: 1.5em;
}
.level img {
	margin-left: 2em;
}
.m-align-left {
	position: relative;
	left: -7em;
}
.m-align-left2 {
	position: relative;
	left: -2em;
}
.m-align-up {
	position: relative;
	top: -1.5em;
}
.m-left-right-border {
	border-left: 1px solid gray;
	border-right: 1px solid gray;
}
.m-content .level a {
	color: black;
}
.m-title {
	background: white;
	border: 1px solid transparent;
	padding: 1.5em;
}
.m-content-bg {
	width: 100%;
	background: #F6F6F6;
	padding-top: 3.5em;
}
.m-sousuo-input {
	border: 1px solid #ccc;
	border-radius: 2em;
	height: 2.5em;
	padding-left: 1.5em;
	outline: 0;
}
.m-sousuo {
	background: url(../img/sousuo.png) no-repeat;
	background-position: 90%;
	width: 1.5em;
	height: 1.5em;
	display: inline-block;
	position: relative;
	left: -2em;
	top: 0.5em;
}
::-webkit-input-placeholder {
	color: #aaa;
	font-size: 15px;
}
.level-left .level-item p.subtitle {
	padding: 5px;
}
.level-item:first-child p.subtitle {
	background: #FFC237;
}
@media screen and (max-width: 768px) {
	.level-left .level-item p.subtitle {
		margin-right: 0;
	}
	.m-sousuo-input {
		width: 19em;
	}
}
@media screen and (min-width: 769px) and (max-width: 1023px) {
	.level-left .level-item p.subtitle {
		margin-right: 0;
	}
	.m-sousuo-input {
		width: 19em;
	}
}
@media screen and (min-width: 1024px) and (max-width: 1215px) {
	.level-left .level-item p.subtitle {
		margin-right: 0;
	}
	.m-sousuo-input {
		width: 17em;
	}
}
@media screen and (min-width: 1216px) and (max-width: 1407px) {
	.level-left .level-item p.subtitle {
		margin-right: 0;
	}
	.m-sousuo-input {
		width: 19em;
	}
}
@media screen and (min-width: 1408px) {
	.level-left .level-item p.subtitle {
		margin-right: 2.3em;
	}
	.m-sousuo-input {
		width: 19em;
	}
}
.card {
	padding: 1em;
}
.card-content {
	padding: 0;
}
.m-content-height {
	height: 2.5em;
}
.m-text-style {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
@media screen and (min-width: 325px) and (max-width: 1215px) {
	.m-text-style {
		width: 250px;
	}
}
.media-right {
	margin-top: 0.5em;
	position: absolute;
	right: 1em;
}
.m-icon {
	background: url(../img/arr_dot.png) no-repeat;
	position: relative;
	width: 18px;
	height: 18px;
	margin: 0 0 0 auto;
}
.content:not(:last-child) {
	margin-bottom: 0;
}
.pagination {
	margin: 0;
	margin-top: 4em;
	margin-bottom: 5em;
}
.pagination-link,.pagination-next,.pagination-previous {
	border-radius: 0;
}
@media screen and (max-width: 768px) {
	.m-previous {
		position: relative;
		left: 18em;
	}
	.m-next {
		position: relative;
		right: 18em;
	}
}
@media screen and (min-width: 769px) and (max-width: 1023px) {
	.m-previous {
		position: relative;
		left: 18em;
	}
	.m-next {
		position: relative;
		right: 18em;
	}
}
@media screen and (min-width: 1024px) and (max-width: 1215px) {
	.m-previous {
		position: relative;
		left: 18em;
	}
	.m-next {
		position: relative;
		right: 18em;
	}
}
@media screen and (min-width: 1216px) and (max-width: 1407px) {
	.m-previous {
		position: relative;
		left: 30em;
	}
	.m-next {
		position: relative;
		right: 30em;
	}
}
@media screen and (min-width: 1408px) {
	.m-previous {
		position: relative;
		left: 30em;
	}
	.m-next {
		position: relative;
		right: 30em;
	}
}
.pagination a {
	color: #333;
}
.pagination a.is-current {
	color: white;
	background: #666;
}
a.m-is-disabled {
	color: #ccc;
}
.m-card-hover:hover {
	-webkit-box-shadow: 0 2px 3px rgba(10, 10, 10, 0.8), 0 0 0 1px rgba(10, 10, 10, 0.8);
          box-shadow: 0 2px 3px rgba(10, 10, 10, 0.8), 0 0 0 1px rgba(10, 10, 10, 0.8);
} 
.m-modal-background {
	background-color: rgba(251,248,221,0.95);
	bottom: 0;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	z-index: 20;
}
.m-modal-background p {
	position: relative;
	text-align: center;
}
@media screen and (max-width: 768px) {
	.m-modal-background figure {
		position: relative;
		margin: 0 auto;
		margin-top: 1em;	
	}
	.is-160x160 {
		width: 8em;
		height: 8em;
	}
}
@media screen and (min-width: 769px) and (max-width: 1023px) {
	.m-modal-background figure {
		position: relative;
		margin: 0 auto;
		margin-top: 1em;	
	}
	.is-160x160 {
		width: 8em;
		height: 8em;
	}
}
@media screen and (min-width: 1024px) and (max-width: 1215px) {
	.m-modal-background figure {
		position: relative;
		margin: 0 auto;
		margin-top: 1em;	
	}
	.is-160x160 {
		width: 8em;
		height: 8em;
	}
}
@media screen and (min-width: 1216px) and (max-width: 1407px) {
	.m-modal-background figure {
		position: relative;
		margin: 0 auto;
		margin-top: 2em;	
	}
	.is-160x160 {
		width: 10em;
		height: 10em;
	}
}
@media screen and (min-width: 1408px) {
	.m-modal-background figure {
		position: relative;
		margin: 0 auto;
		margin-top: 2em;	
	}
	.is-160x160 {
		width: 10em;
		height: 10em;
	}
}
.m-card {
	max-width: 580px;
}
.m-card-head {
	border-bottom: 0;
	background-color: white;
}
.m-delete-right {
	margin: 0 0 0 auto;
}
.m-card-foot {
	border-top: 0;
	background-color: white;
}
.m-card-button {
	background-color: #FFC237;
	border: 0;
	border-radius: 0;
	margin: 0 auto;
	width: 12em;
}
.m-input,.m-textarea,.m-select {
	border-radius: 0;
	width: 90%;
	box-shadow: none;
	-webkit-box-shadow: none;
	border-color: #666;
	background: #FEFBF4;
}
.m-input:focus,.m-textarea:focus,.m-select:focus {
	border-color: #666;
	box-shadow: none;
	-webkit-box-shadow: none;
}
.m-textarea {
	max-width: 90%;
	min-width: 90%;	
}
.m-validate {
	width: 50%;
}
.m-button-black {
	border-radius: 0;
	height: 2.8em;
	width: 39%;
}
.m-title-bg {
	background: url(../img/yuyue.png) no-repeat;
	background-position: 50%;
}
.m-input-type {
	background: url(../img/arr_down_g.png) #FEFBF4 no-repeat;
	background-position: 95%;
}
.m-dropdown-menu {
	padding-top: 0;
	margin-top: -1px;
	border: 1px solid #666;
	width: 90%;
}
.m-dropdown-menu a {
	display: inline-block;
	padding-right: 1em;
}
.m-dropdown-content {
	background-color: #FEFBF4;
}
.m-select {
	width: auto;
	margin-bottom: 8px
}
.m-select select {
	height: 2.5em;
	border-radius: 0;
	border: 1px solid #666;
	background-color: #FEFBF4;
	
}
.m-fixed-reserve,.m-fixed-tel,.m-fixed-toTop {
	position: fixed;
	right: 1.5em;
	width: 5em;
	height: 5em;
}
.m-fixed-reserve {
	background: url(../img/reserve.png) #585858 no-repeat;
	background-position-x: 50%;
	background-position-y: 20%;
	bottom: 15em;
}
.m-fixed-tel {
	background: url(../img/tel.png) #585858 no-repeat;
	background-position-x: 50%;
	background-position-y: 20%;
	bottom: 9.5em;
}
.m-fixed-toTop {
	background: url(../img/backtop.png) #585858 no-repeat;
	background-position-x: 50%;
	background-position-y: 20%;
	bottom: 4em;
}
.m-fixed-text1,.m-fixed-text2,.m-fixed-text3 {
	position: fixed;
	right: 1.5em;
	font-size: 0.8em;
	text-align: center;
	width: 7.5em;	
}
.m-fixed-text1 {
	bottom: 20em;
}
.m-fixed-text2 {
	bottom: 13.5em;
}
.m-fixed-text3 {
	bottom: 7em;
}
.m-fixed-button div {
	cursor: pointer;
}
