.header-container {
	background: black;
	padding: 8px 0;
}
.m-menu-left {
	background: url(../img/arr_return.png) no-repeat center center;
	width: 2rem;
	height: 2rem;
	background-size: 1.5rem auto;
}
.m-menu-right {
	background: url(../img/shousuo.png) no-repeat center center;
	display: block;
	width: 2rem;
	height: 2rem;
	background-size: 2rem auto;
	margin-right: 0.5rem;
}
#dropdown-menu {
	right: 3px;
	top: 5%;
	left: auto;
	min-width: 5rem;
}
.m-dropdown-content {
	background-color: black;
}
.m-dpdown-item {
	color: rgba(256,256,256,0.7);
	font-size: 1em;
}
a.m-dpdown-item {
	padding-right: 1rem;
}
.m-dpdown-item:not(:last-child) {
	border-bottom: 1px solid #333;
}
.level-item img {
	width: 110px;
	margin: 0 auto;
}
.pagination-item {
	width: 26px;
	height: 3px;
	background: white;
	position: relative;
	display: inline-block;
	margin-bottom: 10px;
}
.pagination-item-active {
	background: #FFC237;
}
.content-second {
	background: url(../img/index02.png) repeat;
	position: relative;
	width: 100%;
	height:36em;
	text-align: center;
}
.content-head {
	background: url(../img/index02-title1.png) no-repeat  center center;
	background-size: 620px 130px;
	width: 100%;
	height: 30%;
}
.content-info span {
	padding: 10px 5px;
}
.content-footer {
	background: url(../img/index02-title2.png) no-repeat center center;
	background-size: 600px 310px;
	width: 100%;
	height: 70%;
}
@media screen and (max-width: 425px) {
	.content-head {
		background: url(../img/index02-title1.png) no-repeat  center center;
		background-size: 90%;
	}
	.content-footer {
		background: url(../img/index02-title2.png) no-repeat center center;
		background-size: 90%;
	}
}
@media screen and (min-width: 426px) and (max-width: 768px) {
	.content-head {
		background: url(../img/index02-title1.png) no-repeat  center center;
		background-size: 90%;
	}
	.content-footer {
		background: url(../img/index02-title2.png) no-repeat center center;
		background-size: 90%;
	}
}
.swiper-container img {
	width: 100%;
}
.content-third,.content-fourth,.content-fifth {
	position: relative;
	width: 100%;
}
.content-third .third-bg {
	display: block;
	width: 60%;
}
.third-img {
	position: absolute;
	left: 60%;
	top: 15%;
	width: 50%;
}
.content-fourth {
	text-align: center;
}
.content-fourth p.title {
	margin-top: 20px;
}
.content-fourth p.subtitle {
	margin: 40px 0;
	padding-top: 20px;
}
.m-box {
	box-shadow: none;
	-webkit-box-shadow: none;
	background: white;
	padding: 0.5rem;
	border-radius: 0;
}
.m-media {
	box-shadow: 0 2px 6px rgba(10,10,10,0.1),2px 0 6px rgba(10,10,10,0.1);
	-webkit-box-shadow: 0 2px 6px rgba(10,10,10,0.1),2px 0 6px rgba(10,10,10,0.1);
	background: white;
	margin: 0 10px;
}
.m-meida-tag1 {
	background: url(../img/tag01.png) no-repeat;
	background-position: top right;
	margin-right: -5px;
}
.m-meida-tag2-1 {
	background: url(../img/tag02.png) no-repeat;
	background-position: top right;
	margin-left: -5px;
}
.m-meida-tag2-2 {
	background: url(../img/tag02.png) no-repeat;
	background-position: top right;
	margin-right: -5px;
}
.m-meida-tag3 {
	background: url(../img/tag03.png) no-repeat;
	background-position: top right;
	margin-left: -5px;
}
.m-media-content {
	text-align: center;
}
.image.m-image {
	margin: 0 auto;

}
.m-image img {
	width: 94px;
	height: 106px;
}
.content figure.m-image {
	margin-top: 0;
	margin-bottom: 0;
}
.m-box-line {
	background: #FFC237;
	height: 2px;
	width: 2.5em;
	position: relative;
	margin: 15px auto;
}
.m-p-line {
	display: block;
	margin: 1em 0; 
	
}
.m-line-left {
	position: absolute;
	width: 1.3em;
	height: 2px;
	background: linear-gradient(#eee,#ccc,#ffffff);
	margin-left: -1.8em;
	margin-top: 0.7em;
}
.m-line-right {
	position: absolute;
	width: 1.3em;
	height: 2px;
	background: linear-gradient(#ffffff,#ccc,#eee);
	margin-left: 0.5em;
	margin-top: -1.8em;	
}
.m-box-content {
	margin: 40px 0;
	padding: 10px;
}
.m-column {
	padding: 0;
}
.m-button-style {
	background: #FFC237;
	color: white;
	margin: 40px 0;
}
.content-fifth {
	background: black;
}
.m-image-fifth {
	position: absolute;
	left: 10%;
	top: 5%;
	width: 50%;
}
.content-fifth .fifth-bg {
	display: block;
	width: 60%;	
}
.content-sixth {
	background: url(../img/index02.png) repeat;
	/*height: 32rem;*/
	text-align: left;
}
.content-sixth li a {
	color: #333;
}
.m-sixth-time {
	margin-left: 10px;
	color: gray;
}
.m-more-news {
	color: #FFC237;
	display: block;
	text-align: center;
}
.content-seventh {
	position: relative;
	width: 100%;
	text-align: center;
}
.m-seventh-doted {
	border-top: 1px dashed #bbb;
}
.content-seventh p.title {
	margin-top: 20px;
}
.content-seventh p.subtitle {
	margin: 40px 0;
	padding-top: 20px;
}
.m-seventh-img {
	margin: 2em 0;
}
.m-seventh-login {
	position: relative;
	width: 100%;
}
.m-seventh-list {
	position: absolute;
	left: 0;
	right: 0;
	top: 15%;
	bottom: 0;

}
.m-seventh-list p.has-text-centered {
	margin: 10px 0;
}
.m-button-reserv {
	background-color: #FFC237;
	color: black;
	border: 0;
}
.m-button-or {
	color: #FFC237;
}
.m-button-login {
	background-color: #FFC237;
	color: black;
	border: 0;
}
.m-footer {
	position: relative;
	width: 100%;
	background: black;
	text-align: center;
}
.m-footer img {
	margin: 20px 0 10px;
}
.m-footer p {
	color: rgba(256,256,256,0.7);
}
/*liveAlbums页面*/
.sousuo-items-list {
	position: relative;
	margin: 15px;
	overflow: hidden;
}
.m-level-item {
	display: inline-flex;
	border: 1px solid #FFC237;
	padding: 5px 10px;
}
.m-itemactive-bg {
	background-color: #FFC237;
} 
.m-sousuo-input {
	border: 1px solid #666;
	border-radius: 3rem;
	outline: 0;
	padding-left: 15px;
	width: 100%;
	height:3rem;
}
.m-sousuo-input::-webkit-input-placeholder {
	color: #aaa;
	font-size: 15px;
}
.m-sousuo {
	background: url(../img/sousuo.png) no-repeat center center;
	background-size: 70%;
	width: 2.5em;
	height: 2.5em;
	display: inline-block;
	position: absolute;
	left: 0;
	top: 0;
	right: 10px;
	bottom: 0;
	margin: auto 0 auto auto;
}
.sousuo-control {
	position: relative;
	margin-bottom: 10px;
}
.content-container {
	position: relative;
	margin: 10px 15px;
}
.m-content-img img {
	display: block;
	width: 100%;
}
.m-content-title {
	overflow: hidden;
	height: 48px;
	line-height: 24px;
}

/*固定按钮*/
.static-icon {
	position: fixed;
	right: 10px;
	bottom: 20px;
	width: 60px;
	height: 260px;
	z-index: 99;
}
.static-icon .m-icon-static a {
	display: block;
	height: inherit;
}
.m-icon-static {
	width: 60px;
	height: 60px;
	border: 1px solid #FFC237;
	background: #FFC237;
	border-radius: 50%;
	position: relative;
}
.m-icon-reserv {
	background: url(../img/reserve.png) no-repeat;
	background-size: 80%;
	width: 40px;
	height: 40px;
	display: block;
	position: absolute;
	left: 0.7rem;
}
.m-icon-register {
	background: url(../img/usereg.png) no-repeat;
	background-size: 80%;
	width: 40px;
	height: 40px;
	display: block;
	position: absolute;
	left: 0.8rem;	
}
.m-icon-backTop {
	background: url(../img/gotop3.png) no-repeat;
	background-size: 60%;
	width: 40px;
	height: 40px;
	display: block;	
	position: absolute;
	left: 1.1rem;
	top: 1.2rem;	
}
.m-icon-static p {
	font-size: 12px;
	top: 35px;
	position: absolute;
 	left: 0.3rem;	
}
.m-static-columns {
	display: flex;
	flex-flow: row wrap;
	align-content: flex-start;
	height: inherit;
}
.m-column-up {
	padding: 0.25rem 0.75rem;
}
.m-column-down {
	padding: 0.25rem 0.75rem;
	position: relative;
	top: 56px;
}
.m-data-complete {
	text-align: center;
	text-shadow: 1px 1px 1px #ccc;
}

/*注册页面css*/
.register-content {
	position: relative;
	width: 100%;
}
.register-head-img {
	width: 100%;
}
.register-items {
	position: relative;	
	margin: 10px;
}
.register-items span {
	color: red;
	margin-right: 10px;
}
.register-label {
	font-weight: 400;
}
.register-control input {
	border: 1px solid #ccc;
	outline: 0;
	box-shadow: none;
	-webkit-box-shadow: none;
	width: 90%;
	height: 50px;
	border-radius: 0;
}
.register-control input::-webkit-input-placeholder {
	color: #666;
}
.sexbutton {
	width: 50px;
	height: 50px;
	border-color: #888;
	border-radius: 0;
	outline: 0;
}
.sexbutton:first-child {
	background-color: #FFC237;
}
.regbutton {
	width: 100px;
	height: 50px;
	border-color: #FFC237;
	border-radius: 0;
	outline: 0;
}
.regbutton:last-child {
	background-color: #FFC237;
}
.validator input {
	width: 60%;
}
.validbutton {
	width: 30%;
	height: 50px;
	border-color: #FFC237;
	border-radius: 0;
	outline: 0;	
	display: inline-block;
	background-color: #FFC237;
}
span.is-common{
	color: #FFC237;
}
.is-common{
	color: #FFC237;
}
.is-common-bg {
	background-color: #FFC237;
}
.loginbutton {
	width: 90%;
	height: 50px;
	border-color: #FFC237;
	border-radius: 0;
	outline: 0;	
}

/*我要预约页面*/
.reserve-container {
	position: relative;
	width: 100%;
	margin: 20px;
}
.m-title-bg {
	background: url(../img/yuyue.png) no-repeat;
	background-position: 50%;
}
.m-input,.m-textarea,.m-select {
	border-radius: 0;
	width: 90%;
	box-shadow: none;
	-webkit-box-shadow: none;
	border-color: #666;
	background: #FEFBF4;
}
.m-input:focus,.m-textarea:focus,.m-select:focus {
	border-color: #666;
	box-shadow: none;
	-webkit-box-shadow: none;
}
.m-input-type {
	background: url(../img/arr_down_g.png) #FEFBF4 no-repeat;
	background-position: 95%;
}
.m-textarea {
	max-width: 90%;
	min-width: 90%;	
}
.m-validate {
	width: 50%;
}
.m-button-black {
	border-radius: 0;
	height: 2.8em;
	width: 39%;
}
.m-select {
	width: auto;
	margin-bottom: 8px
}
.m-select select {
	height: 2.5em;
	border-radius: 0;
	border: 1px solid #666;
	background-color: #FEFBF4;
}
.m-dropdown-menu {
	padding-top: 0;
	margin-top: -1px;
	border: 1px solid #666;
	width: 90%;
}
.m-dropdown-menu a {
	display: inline-block;
	padding-right: 1em;
}
.m-type-content {
	background-color: #FEFBF4;
}